<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BASE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styledjango.css'%}">
</head>
<body>
<div class="navigation-section">
    <button>HOME</button>
    <button>ABOUT US</button>
    <button>GALLERY</button>
    <button>CONTACT</button>
    <hr>
</div>

{% block title %}

{% endblock %}

{% block content%}

{% endblock %}

<section class="footer-section">
    <h4>This is my footer</h4>
    <p>Lorem ipsum dolar sit amet, consectetur adipising elit. Assumenda eaque ex inventore minima officia quaerat sit voluptatibus.Deserunt dolore eligendi eum perferendia provident quidam reiciendis suscipit. At deleniti voluptatum?</p>
</section>

</body>
</html>