{% extends 'base.html' %}

{% block title %}
<h4>This is the 'Index' page</h4>
Lorem ipsum dolar sit amet, consectetur adipising elit.
Assumenda eaque ex inventore minima officia quaerat sit voluptatibus.
Deserunt dolore eligendi eum perferendia provident quidam reiciendis suscipit.
At deleniti voluptatum?
{% endblock %}

{% block content %}
<h2>WELCOME</h2>
<p>Lorem ipsum dolar sit amet, consectetur adipising elit. Assumenda eaque ex inventore minima officia quaerat sit voluptatibus.Deserunt dolore eligendi eum perferendia provident quidam reiciendis suscipit. At deleniti voluptatum?</p>
<h4>Please visit us again</h4>
<div class="table-action">
    <table border="2" cellpadding="5" cellspacing="5" width="350" bcolor="red">
        <tr>
            <th>FIRST NAME</th>
             <th>LAST NAME</th>
            <th>LOCATION</th>
        </tr>
        <tr>
            <td>Paul</td>
            <td>Nui</td>
            <td>Nairobi</td>
        </tr>
        <tr>
            <td>Wilson</td>
            <td>Stone</td>
            <td>Nairobi</td>
        </tr>
        <tr>
            <td>Ayyub</td>
            <td>James</td>
            <td>Mombasa</td>
        </tr>
        <tr>
            <td>John</td>
            <td>Wick</td>
            <td>Nairobi</td>
        </tr>
    </table>
</div>

{% endblock %}